:root {
    --light-blue: #B7E2F5;
    --light-pink: #FFC9D2;
    --dark-pink: #FF7A90;
    --light-green: #8EEC5C;
}

body {
    background-color: var(--light-blue);
    padding: 40px;
    font-family: "Pixelify Sans", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: max-content;
    column-gap: 60px;
    overflow: hidden;
}

.left-section, .right-section {
    background-color: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    overflow: scroll;
}

.left-section {
    overflow: hidden;
    flex-shrink: 1;
}

.cinnamoroll {
    height: 400px;
    scale: calc(1.4);
}

.project-title {
    background-color: var(--dark-pink);
    font-size: 80px;
    color: white;
    border-radius: 20px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.date {
    background-color: var(--light-blue);
    font-size: 80px;
    color: white;
    border-radius: 20px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.progress-section {
    background-color: var(--light-pink);
    font-size: 80px;
    color: white;
    border-radius: 30px;
    width: 100%;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: center;
    position: relative;
}

.progress-bar {
    margin-top: 20px;
    height: 80px;
    background-color: white;
    display: block;
    border-radius: 40px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
}

.green-progress-bar {
    margin-top: 20px;
    left: 0px;
    right: 100px;
    top: 105px;
    bottom: 30px;
    background-color: var(--light-green);
    display: block;
    border-radius: 40px;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    z-index: 2;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.enter-task-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.enter-task-section {
    margin-bottom: 60px;
}

.active-tasks {
    overflow: scroll;
    width: 100%;
}

input {
    font-size: 70px;
    background-color: var(--light-pink);
    color: white;
    border: none;
    font-family: "Pixelify Sans", sans-serif;
    width: 70%;
    margin: 0px 30px;
    border-radius: 15px;
    text-align: center;
    border: none;
}

input::placeholder {
    color: white;
}

input:focus {
    outline: none;
    caret-color: transparent;
}

.add-button, .completed-button, .delete-button {
    background-color: var(--light-green);
    border: none;
    width: 90px;
    border-radius: 10px;
    cursor: pointer;
}

.add-button:hover, .completed-button:hover, .delete-button:hover {
    opacity: 0.7;
    scale: 1.1;
    transition: opacity, scale 0.2s;
}

.task {
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.task-desc {
    width: 100%;
    background-color: var(--light-blue);
    text-align: center;
    font-size: 60px;
    margin-right: 20px;
    border-radius: 15px;
    color: white;
}

.completed-button {
    margin-right: 20px;
}

.delete-button {
    background-color: var(--dark-pink);
}
